@import "../../variable.scss";


.card {
  color: $textColor;
  &__container {
    margin-left: 15%;
    width: 70%;
  }
  &__body {
    text-align: initial;
    padding-top: 5%;
    padding-left: 0;
  }
  &__title-h6 {
    margin-top: 20%;
    text-align: center;
  }
  img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card {
    h5 {
      text-align: center !important;
    }
    &__body {
      text-align: center;
    }
    &__title-h6 {
      margin-top: 0;
      text-align: center;
    }
  }
}
